{%- style -%}

{%- endstyle -%}


<div class="product-list">
  <h2>{{ section.settings.section_title }}</h2>
  
  {% for product in collections.all.products %}
    <div class="product-item">
      <h3>{{ product.title }}</h3>
      {% if section.settings.show_price %}
        <p>{{ product.price | money }}</p>
      {% endif %}
      <!-- Ajoutez d'autres informations sur le produit ici -->
    </div>
  {% endfor %}
</div>


{% schema %}
{
    "name": "Product List",
  "settings": [
    {
      "type": "text",
      "label": "Titre de la section",
      "id": "section_title",
      "default": "Liste de produits"
    },
    {
      "type": "checkbox",
      "label": "Afficher le prix",
      "id": "show_price",
      "default": true
    }
    // Ajoutez d'autres options de configuration selon vos besoins
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
  
}
]
}

{% endschema %}
