@media screen and (min-width: 750px){
    .customer tbody td {
        vertical-align: middle;
    }
    .customer tbody {
        align-items: center;
    }
}
.customer tbody td .NetLink{
    text-decoration: none;
    border: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
}
.customer tbody td .Net{
    font-size: 1.2rem;
}
.customer tbody td .Net.Edit{
    font-style: italic;
}

.customer tbody td:last-of-type {
    padding-bottom: 2.4rem;
  }
  
  @media screen and (min-width: 750px) {
    .customer tbody td:last-of-type {
      padding-bottom: 2.4rem;
    }
  }
  