.product-list {
    display: grid;
}

.product-list .card {
    display: grid;
    grid-template-columns: 30% 70%;
}
.product-list .card .card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item{
    max-width: 90vw;
}
.image-product{
    display: flex;
    margin: auto;
    padding: 5px;
}